{
  "useTabs": false,
  "tabWidth": 2,
  "htmlWhitespaceSensitivity": "strict",
  "singleQuote": false,
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "proseWrap": "always",
        "htmlWhitespaceSensitivity": "ignore",
        "tabWidth": 2
      }
    }
  ]
}
